@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);
$grad1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$grad2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px
);
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
}
html {
    font-size: 62.5%;
    height: 100%;
}
body {
    background: $grad1;
    height: 100%;
}
main {
    @include media-min("tablet-down") {
        height: 100%;
        display: grid;
        grid-template-columns: 57% 43%;
        grid-template-rows: 100%;
    }
}
.logo {
    padding: 31px 30px;
    height: 21px;
    @include media-min("tablet-down") {
        display: none;
    }
}
.img {
    height: 31vh;
    background: url('./images/hero-mobile.jpg');
    @include media-min("tablet-down") {
        height: 100%;
        grid-column: 2;
        grid-row: 1;
        background-image: url('./images/hero-desktop.jpg');
        background-size: cover;
    }
}
.content {
    padding: 66px 32px;
    font-family: 'Josefin Sans';
    .logo-desktop {
        display: none;
    }
    @include media-min("tablet-down") {
        grid-column: 1;
        grid-row: 1;
        .logo-desktop {
            display: block;
            margin-bottom: 136px;
        }
        padding: 66px 164px;
        background-image: url('./images/bg-pattern-desktop.svg');
    }
}
h1 {
    text-align: center;
    color: $dark-grayish-red;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1.6rem;
    line-height: 4.4rem;
    span {
        color: $desaturated-red;
        font-weight: 300;
    }
    @include media-min("tablet-down") {
        text-align: left;
        line-height: 6rem;
        font-size: 5rem;
    }
}
p {
    margin-top: 30px;
    margin-bottom: 40px;
    color: $desaturated-red;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.9rem;
    @include media-min("tablet-down") {
        text-align: left;
        margin-top: 40px;
        margin-bottom: 58px;
        font-size: 1.8rem;
        line-height: 3rem;
    }
}
.form {
    position: relative;
    width: 100%;
    input {
        border: solid $desaturated-red 1px;
        border-radius: 25px;
        height: 44px;
        width: 100%;
        box-sizing: border-box;
        background: transparent;
        padding-left: 20px;
        outline: none;
        &::placeholder {
            color: $desaturated-red;
            font-weight: 600;
            opacity: 60%;
        }
        &.active {
            border: solid $soft-red 1px;
        }
    }
    .btn {
        background: $grad2;
        padding: 12px 25px;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 25px;
        box-shadow: 5px 5px 45px 9px rgba(0,0,0,0.13);
        &:hover {
            cursor: pointer;
            opacity: 60%;
        }
    }
    .error-icon,.error-msg {
        display: none;
    }
    &.error {
        input {
            border: solid $soft-red 1px;
        }
        .error-icon {
            display: block;
            position: absolute;
            top: 10px;
            right: 67px;
        }
        .error-msg {
            display: inline-block;
            color: $soft-red;
            margin-top: 5px;
            margin-bottom: 0;
            margin-left: 21px;
        }
    }
}